/* Universal selector */
* {
    --primary: black;
    --secondary: white;
}

/* Element Selectors */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: var(--primary);
    background-color: var(--secondary);
}

header {
    border-bottom: 10px double var(--primary);
    display: flex;
    align-items: center;
    height: 75px;  
}

h1 {
    /* display: flex;
    justify-content: left;
    text-align: left;
    padding: 20px;
    font-weight: 500; */
}

footer {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */ */
    /* height: 40px; */
    border-top: 10px double var(--primary);
    
}

/* Class Selectors */
___ {
    border-bottom: 10px double var(--primary);
}

.title-container {
    /* justify-content: left; */
    display: flex;
    justify-content: left;
    text-align: left;
    padding: 20px;
    font-weight: 500;
}

.header-buttons-container {
    display: flex;
    justify-content: right;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: -5px;
    position: relative;
    right: 10px;
}

.copyright-footer {
    font-size: 16px;
    text-align: center;


}

/* ID Selectors */

#back-button {
    width: 80px;
    color: var(--secondary);
    background-color: var(--primary);
}

#span {
    font-size: 20px;
    font-weight: 800;
}
