h1 {
    padding: 20px;
    font-weight: 625;
    font-size: 165%; 
    display: flex;
    flex: 1 0 50%;
    color: var(--primary);
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

footer li {
    color: var(--primary);
    font-size: 14px;
    font-weight: bold;
    font-style: italic; 
    margin-bottom: 10px;
    padding-left: 30px;
}

.header-buttons-div {
    display: flex;
    position: relative;
    top: 8px;
}

#back-button {
    width: 80px;
    height: 37px;
    padding-bottom: 3px;
    margin-right: 25px;
    color: var(--secondary);
    background-color: var(--primary);
    cursor: pointer;
}

#posts-container {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    width: 99%;
    align-items: center;
    padding-left: 10px;
}

#back-arrow {
    font-size: 18px;
    font-weight: 1,000;
}

#portfolio-link, 
#email-link {
    color: var(--primary);
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
}

#footer-blog::after {
    color: var(--primary);
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    content: "Full-Stack Blog";
}
