/* Universal Selector */
* {
    --primary: black;
    --secondary: white;
}

/* Element Selectors */
form {
    max-width: 650px;
    margin: 30px;
    display: flex; 
    flex-direction: column;
    flex: 1 0 auto;
    line-height: 1.3;
    position: relative;
    top: -50px;
}

form h2 {
    font-size: 150%; 
    line-height: 150px;
    text-align: center;
}

label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px;
}

button {
    padding: 4px;
    color: var(--secondary);
    background-color: var(--primary);
    width: 100%;
    font-size:13px;
    font-weight: 700;
}

/* Class Selector */
.text-input {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
}

/* ID Selector */
#post-content {
    height: 175px;
}