/* Universal Selector */
* {
    --primary: black;
    --secondary: white;
    --tertiary: white;
    --circle1: rgb(206, 126, 69);
    --circle2: rgb(221, 162, 51);
    --circle3: rgb(240, 240, 114);
}

/* Element Selectors */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: var(--primary);
    /* background-color: var(--secondary); */
}

header {
    border-bottom: 10px double var(--primary);
    display: flex;
    justify-content: right;
    align-items: center;
    height: 75px; 
    background-color: var(--secondary); 
}

main {
    background-color: var(--tertiary);
}

h1 {
    font-size: 60px;
    font-weight:700;
    color: var(--secondary);
    text-shadow: 1px 1px 2px var(--primary), 0 0 32px rgb(0, 0, 226), 0 0 8px rgb(0, 0, 116);
    /* 2px 2px 4px var(--primary); */
    text-align: center;   
}

h3 {
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    padding-bottom: 15px;
    font-weight: normal;
}

footer {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* height: 40px; */
    border-top: 10px double var(--primary);
    background-color: var(--secondary);
}


/* Class Selectors */
.theme-switcher {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: -5px;
}

.main-div {
    display: flex;
}

.title-div {
    border-right: 10px double var(--primary);
}

.title-div, .form-div {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex: 1 0 50%;
    align-items: center;
    justify-content: center;
}

.title-circle {
    width: 450px;
    height: 450px;
    line-height: 450px;
    border-radius: 50%;
    background-color: orange; /* For browsers that don't support gradients */
    background-image: repeating-radial-gradient(circle, var(--circle1), var(--circle2)12%, var(--circle3) 25%, var(--circle2) 38%, var(--circle1) 50%);
}

/* media query moving the form below the title circle for smaller screens */
@media screen and (max-width: 992px) {
    .container {
        flex-direction: column;

    }

    .title-div {
        border-right: none;
        border-bottom: 10px double var(--primary);
    }
}
