/* Element Selectors */
.light{
    --primary: rgb(10, 10, 10);
    --secondary: rgb(245, 245, 245);
    --tertiary: rgb(245, 245, 245);
    --circle1: rgb(206, 126, 69);
    --circle2: rgb(221, 162, 51);
    --circle3: rgb(240, 240, 114);
    --shading1: rgb(0, 0, 226);
    --shading2: rgb(0, 0, 116);
}

.dark {
    --primary: rgb(245, 245, 245);
    --secondary: rgb(18, 18, 18);
    --tertiary: rgb(38, 38, 38);
    --circle1: rgb(68, 91, 219);
    --circle2: rgb(53, 35, 218);
    --circle3: rgb(47, 4, 117);
    --shading1: rgb(233, 140, 0);
    --shading2: rgb(255, 208, 0);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-color: var(--secondary);
}

header {
    border-bottom: 10px double var(--primary);
    display: flex;
    justify-content: right;
    align-items: center;
    height: 75px; 
    background-color: var(--secondary); 
}

main {
    background-color: var(--tertiary);
}

h1 {
    font-size: 60px;
    font-weight:600;
    color: white;
    text-shadow: 1px 1px 2px var(--primary), 0 0 32px var(--shading1), 0 0 8px var(--shading2);
    text-align: center;   
}

h2 {
    font-size: 140%; 
    line-height: 150px;
    text-align: center;
    color: var(--primary)
}

h3 {
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    padding-bottom: 15px;
    font-weight: normal;
    color: var(--primary);
}

footer {
    border-top: 10px double var(--primary);
    background-color: var(--secondary);
    
}

#theme-switcher {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: -5px;
    cursor: pointer;
}

.container {
    /* TODO: I don't know wth to do with this  */
}

.main-div {
    display: flex;
    background-color: var(--tertiary);
}

.title-div {
    border-right: 10px double var(--primary);
}

.title-div, .form-div {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex: 1 0 50%;
    align-items: center;
    justify-content: center;
}

.title-circle {
    width: 400px;
    height: 400px;
    line-height: 400px;
    border-radius: 50%;
    background-color: var(--circle1); /* For browsers that don't support gradients */
    background-image: repeating-radial-gradient(circle, var(--circle1), var(--circle2)12%, var(--circle3) 25%, var(--circle2) 38%, var(--circle1) 50%);
}



/* media query moving the form below the title circle for smaller screens */
@media screen and (max-width: 992px) {
    .container, .main-div {
        flex-direction: column;
        align-items: center;
    }

    .title-div {
        border-right: none;
    }

    .form-div {
        border-top: 10px double var(--primary);
    }

    .title-div, .form-div {
        flex: 1 0 100%;
        width: 100%;
    }
}


